[Unit]
Description=SmartClock

[Service]
Type=forking
User=root
ExecStart=/home/pi/piclock/smartledclock/smartclock_daemon.sh

[Install]
WantedBy=multi-user.target