[Unit]
Description=SmartClock

[Service]
Type=forking
User=root
ExecStart=/home/pi/smartledclock/clock_daemon.sh

[Install]
WantedBy=multi-user.target